<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Recruitment | Welcome</title>  


    </head>

    <body>
        <nav class="px-6 py-6 justify-between items-center border-b border-gray-200">
            <a href="/home" class="text-xl font-semibold">Virtustant</a>
        </nav>
        <div class="px-6 py-6">
            <div class="px-6 py-8 bg-gray-100 rounded-xl">
                <h2 class="mb-6 text-2xl text-center">Aplicants</h2>
        
                <form class="mb-6 flex flex-wrap" method="POST" action="/filterApplicants" enctype="form-data" id="form">

                    <input name="firstName" class="py-4 px-3 border rounded-xl m-2" type="text" placeholder="First Name">
        
                    <input name="lastName" class="py-4 px-3 border rounded-xl m-2" type="text" placeholder="Last Name">
        
                    <div class="flex flex-wrap mb-2">
                    <label class="w-full mb-1">Country</label>
                    <select name="country" class="py-4 px-3 border rounded-xl">
                        <option selected></option>
                        <% for (const country of AllCountries) { %>
                            <option value=<%=country.id_country%>><%= country.country %></option>
                        <% } %>
                    </select>
                    </div>
        
                    <div class="flex flex-wrap mb-2">
                    <label class="w-full mb-1">English Level</label>
                    <select name="englishLevel" class="py-4 px-3 border rounded-xl">
                        <option selected></option>
                        <% for (const englishLevel of AllEnglishLevels) { %>
                            <option value=<%=englishLevel.id_english_level%>><%= englishLevel.english_level %></option>
                        <% } %>
                    </select>
                    </div>
        
                    <div class="flex flex-wrap mb-2">
                    <label class="w-full mb-1">Skill</label>
                    <select name="skill" class="py-4 px-3 border rounded-xl">
                        <option selected></option>
                        <% for (const skill of AllSkills) { %>
                            <option value=<%=skill.id_skill%>><%= skill.skill %></option>
                        <% } %>
                    </select>
                   </div>
        
                   <div class="flex flex-wrap mb-2">
                    <label class="w-full mb-1">Other Language</label>
                    <select name="otherLanguage" class="py-4 px-3 border rounded-xl">
                        <option selected></option>
                        <% for (const otherLanguage of AllOtherLanguages) { %>
                            <option value=<%=otherLanguage.id_Languages%>><%= otherLanguage.languages %></option>
                        <% } %>
                    </select>
                   </div>
        
                    <button class="py-3 px-6 text-lg bg-orange-200 hover:bg-orange-300 rounded-xl m-2" type="submit">Search</button>
                </form>

                <div class="grid grid-cols-5 gap-2">
                    <% for (const applicant of filteredApplicants) { %>
                        <div>
                            <div class="p-6 bg-white rounded-b-xl min-h-fit">
                                <h2 class="text-2xl"><%= applicant.first_name %></h2>
                                <h3 class="text-xl"><%= applicant.last_name %></h3>
                                <p class="text-gray-500"><%= applicant.Country.country %></p>
                                <p class="text-gray-500"><%= applicant.email %></p>
                                <p class="text-gray-500">Phone: <%= applicant.phone %></p>
                                <p class="text-gray-500">Availability: <%= applicant.availability %></p>
                                <p class="text-gray-500">English Level: <%= applicant.English_Level.english_level %></p>
                                <% if (applicant.specialization) {%>
                                    <p class="text-gray-500">Specialization: <%= applicant.specialization %></p>
                                <% } %>
                                <% if (applicant.resume_link) {%>
                                    <p class="text-gray-500">Resume Link: <a class="text-blue-900 underline hover:underline-offset-4" href=<%=applicant.resume_link%> download=<%= applicant.First_Name %>>Download CV</a></p>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>

            

            
        </div>
    </body>
</html>